@font-face {
  font-family: "RoadRadio";
  src: local("RoadRadio"),
  url("./res/fonts/RoadRadio.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "RoadRadio";
  src: local("RoadRadio"),
  url("./res/fonts/RoadRadio-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "RoadRadio";
  src: local("RoadRadio"),
  url("./res/fonts/RoadRadio-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "RoadRadio";
  src: local("RoadRadio"),
  url("./res/fonts/RoadRadio-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "RoadRadio";
  src: local("RoadRadio"),
  url("./res/fonts/RoadRadio-Thin.ttf") format("truetype");
  font-weight: 100;
}

html{
  background-color: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-image: url("./res/images/background.png");
  background-size: cover;
}

.biggerBackground {
  background-image: url("./res/images/expandedBackground.png");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rounded-corners-gradient1-borders {
  border: double 2px transparent;
  border-radius: 80px;
  box-sizing: border-box;
  background-image: linear-gradient(#111618B2, #111618B2), linear-gradient(94.3deg, #022ED3 -21.15%, #F6B569 141.51%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.blueNeonBorder {
  box-shadow: 0 0 5px 3px #1D4A7C,0 0 1px 1px #1D4A7C;
}
